body{
    background-image: url("../resource/assets/bgremove.png");
    background-size: cover;
display: flex;
justify-content: center;
align-items: center;
align-content: space-evenly;
background-color: rgb(255, 255, 255);
height:100vh;
font-family: cursive;
font-weight: bolder;

}
button{
    font-family: cursive;
    color:rgb(254, 0, 238);
    width:10rem;
    font-size: 1.52rem;
    font-weight: 900;
    padding:0.8rem;
    border:0.35rem solid rgb(249, 0, 224);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(23, 8, 231);
}
form{
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    border-radius: 20px;
    color:rgb(91, 9, 223)
}